- page_title    "代码片段"
- header_title  "代码片段", snippets_path

- if current_user
  = render 'dashboard/snippets_head'
- else
  = render 'explore/head'

.row-content-block
  - if current_user
    .pull-right
      = link_to new_snippet_path, class: "btn btn-new", title: "New Snippet" do
        New Snippet

  .oneline
    所有公开的代码片段都将会被罗列在此

= render 'snippets/snippets'
